= form_for @activity, :html => { :class => "form-horizontal", :role => "form" } do |f|
  -if @activity.errors.any?
    .alert.alert-danger.alert-dismissable{:role => "alert"}
      %button.close{:type => "button", :data => {:dismiss => "alert"} }
        span{:aria => {:hidden => "true"} } &times;
        span.sr-only Close
      %h4= "#{pluralize(@activity.errors.count, "error")} prohibited this activity from being saved:"

      %ul
        - @activity.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :source, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :source, :class => 'form-control'
  .form-group
    = f.label :uuid, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :uuid, :class => 'form-control'
  .form-group
    = f.label :type, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :type, :class => 'form-control'
  .form-group
    = f.label :duration, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :duration, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit :class => 'btn btn-primary'
