.page-header
  = link_to source_activities_path(current_source), id: 'pull', class: 'btn btn-primary', method: :post do
    %span.glyphicon.glyphicon-refresh
    Refresh
  %h1
    = "Listing #{current_source.titleize} activities"
    %a{href: "#", title: "Last 50 activities."}
      %i.glyphicon.glyphicon-info-sign

%div.alert.alert-info{role: "alert"}
  = "Synchronizing with #{current_source.titleize} every hour."
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Source
        %th Uuid
        %th Type
        %th Duration
        %th Distance
        %th Start time
        %th In sync with
        %th

    %tbody
      - @activities.each do |activity|
        %tr
          %td.source= activity.source
          %td.uuid= activity.uuid
          %td.type= activity.type
          %td.duration= duration activity
          %td.distance= distance activity
          %td.start_time= start_time activity
          %td.syncs= activity.syncs
          %td
            = link_to 'Show', source_activity_path(current_source, activity)
            |
            = link_to 'Sync', sync_source_activity_path(current_source, activity), method: :put
