.page-header
  - if current_user.admin
    = link_to source_activity_path(current_source, @activity), method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger' do
      %span.glyphicon.glyphicon-remove
        Delete
  = link_to source_activities_path(current_source), :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  %h1 Show activity

%dl.dl-horizontal
  %dt Source:
  %dd= @activity.source
  %dt Uuid:
  %dd= @activity.uuid
  %dt Type:
  %dd= @activity.type
  %dt Duration:
  %dd= ChronicDuration.output(@activity.duration)
  %dt Distance:
  %dd= "#{@activity.distance} m"
  %dt Start time:
  %dd= @activity.start_time.httpdate
  %dt UTC offset:
  %dd= ChronicDuration.output(@activity.utc_offset * 60 * 60)
