%link{:href => "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", :rel => "stylesheet"}/
/[if lt IE 9]
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
%link{:href => "css/styles.css", :rel => "stylesheet"}/
.container-full
  .row
    .col-lg-12.text-center.v-center
      %h1 ActiHunt
      %p.lead Synchronize your sport activities.
      -# %br/
      -# %br/
      -# %form.col-lg-12{:action => "/guests", :method => "post"}
      -#   .input-group{:style => "width:340px;text-align:center;margin:0 auto;"}
      -#     %input#email.form-control.input-lg{:name => "guest[email]", :placeholder => "Enter your email address", :title => "Don't worry. We hate spam, and will not share your email with anyone.", :type => "text"}/
      -#     %span.input-group-btn
      -#       %button.btn.btn-lg.btn-primary{:type => "submit"} Subscribe
  / /row
  .row
    .col-lg-12.text-center.v-center{:style => "font-size:39pt;"}
      %a{:href => "https://www.facebook.com/actihunt"}
        %i.icon-facebook
      %a{:href => "https://twitter.com/actihunt"}
        %i.icon-twitter
      %a{:href => "#"}
        %i.icon-google-plus
  %br/
  %br/
/ /container full
.container
  %hr/
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h2 Runkeeper
        .panel-body
          %a#runkeeper{:href => "#{user_omniauth_authorize_path(:runkeeper)}"} Connect with Runkeeper
          and synchronize your activities.
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h2 Strava
        .panel-body
          %a#strava{:href => "#{user_omniauth_authorize_path(:strava)}"} Connect with Strava
          and synchronize your activities.
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h2 Endomondo
        .panel-body
          %a#garmin{href: "javascript:alert('Coming soon.');"} Connect with Endomondo
          and synchronize your activities.
/ script references
/ %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"}
/ %script{:src => "js/bootstrap.min.js"}
