%h1
  %center
    %div.alert.alert-info{role: "alert"}
      Synchronize activities between Runkeeper and Strava
  %div.jumbotron
    %h1.display-4
      ActiHunt
    %p.lead
      This is a simple application that keeps your Runkeeper and Strava activities in sync. For free, for ever.
    %hr.my-4
    %p
      It only takes a few seconds to start using it, as simple as 3, 2, 1...
      %ul
        %li
          Connect your
          %a#runkeeper.btn.btn-primary.btn-lg{role: "button", href: "#{user_runkeeper_omniauth_authorize_path}"}
            Runkeeper
          account
        %li
          Connect your
          %a#strava.btn.btn-primary.btn-lg{role: "button", href: "#{user_strava_omniauth_authorize_path}"}
            &nbsp;&nbsp;&nbsp;Strava&nbsp;&nbsp;&nbsp;&nbsp;
          account
        %li
          GO!
    %hr.my-4
      %p
        A
        %a{href: "https://bitbucket.org/icostan/actihunt/"}
          free and open source
        project.
