%h2
  Edit
  = resource_name.to_s.humanize
  account
= simple_form_for(resource, as: resource_name, url: user_path, html: { method: :put }) do |f|
  = f.error_notification
  .panel.panel-default
    .panel-heading
      %h3.panel-title Account details
    .panel-body
      .form-inputs
        = f.input :name
        = f.input :email
        = f.input :time_zone

  .panel.panel-default
    .panel-heading
      %h3.panel-title Connected with:
    .panel-body
      %ul
        - resource.identities.each do |identity|
          %li
            = identity.provider
            = link_to identity_path(identity.provider), method: :delete do
              %span.glyphicon.glyphicon-remove
              Disconnect
        - Identity::PROVIDERS.each do |source|
          - next if resource.connected_with? source
          %li
            = source
            - path = send "user_#{source}_omniauth_authorize_path"
            %a{href: path}
              %span.glyphicon.glyphicon-ok
              Connect

  .form-actions
    = f.button :submit, "Update"
